<div class="murau_dashbord_principal">
    <mat-card>
        <mat-card-title>
            <h1>Clientes Cadastrado</h1>
            <h5>informa o total de clientes cadastrado no dia</h5>
        </mat-card-title>
        <mat-card-content>
            {{totalClienteDia}}
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h1>Produtos Novos</h1>
            <h5>informa o total de Produtos cadastrado no dia</h5>
        </mat-card-title>
        <mat-card-content>
            {{totalProdutosDia}}
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h1>Pedidos</h1>
            <h5>informa o total de Pedidos cadastrado no dia</h5>
        </mat-card-title>
        <mat-card-content>
            {{totalPedidoDia}}
        </mat-card-content>
    </mat-card>

</div>
