.murau__container_body {
    display: flex ;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Lato", sans-serif !important;
    color: #4b2e28;
}

.murau__sidenav_container {
    flex: 2;
    margin-top: 58px;
}

.murau__toolbar {
    background-color: white; // rgba(75, 46, 40, 0.15);
    color: #4b2e28;
    font-weight: bold;
    border-bottom: 2px solid #4b2e28;
    font-family: "Lato", sans-serif !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10) !important;
    position: fixed;
    z-index: 2;
    font-size: 16px !important;
}

.murau__toolbar h1 {
    font-family: "Lato", sans-serif !important;
    margin-left: 15px;
}

.murau__logo {
    background-color: transparent;
    color: #4b2e28;
    text-decoration: none;
    width: 25px;
    height: 2;
    margin-top: 0;
    cursor: pointer;
}

.murau__div_card_avatar {
    position: relative;
    z-index: 3;
}

.murau__avatar_user {
    background-color: white;
}

.murau__avatar {
    border: 2px;
    color: #4b2e28;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #4b2e28;
    background-color: #4b2e28;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.perfil {
    font-size: 12px;
    text-align: center;
}

.linkLogin {
    flex-direction: row;
    padding: 0 16px;
    width: 100%;   
    align-items: center;
    align-content: center;
    text-align: right;
    white-space: nowrap;
    text-decoration: none;
    a {
        cursor: pointer;
        font-size:12px;
        border: 0 !important;
        background-color: transparent !important;
        text-decoration: none !important;
        margin-right: 10px;
        color: #4b2e28;
    }
}

.router-link-active {
    border: 0 !important;
    color: gray !important;
    text-decoration: none !important;
}
.page-footer {
    height: 350px;
    background-color: rgba(75,46,40,0.80);
    font-size: 50px;
    align-content: center;
    a {
        margin-top: 150px;
        color: white !important;
    }
    .col-md-12 {
        display: flex !important;
    }

}
.page-footer-logged {
    background-color: rgba(75,46,40,0.80);
    font-size: 50px;
    align-content: center;
    a {
        margin-top: 150px;
        color: white !important;
    }
    .col-md-12 {
        display: flex !important;
    }

}
.copy-right {
    display: flex;
    background-color: #4b2e28;
    font-size: 12px !important;   
    height: 50px;
    justify-content: center;
    position: absolute;
    width: 100%;
    align-items: center;
    margin-top: 150px;
    a {
        margin: 0 !important;
    }
    .col-md-12 {
        justify-content:center;
    }
}
agm-map {
    height: 300px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
  .container-map {
      width: -webkit-fill-available;
  }