<div class="murau__container">
    <h1>Cadastro para Manifestação de Interesse</h1>
    <p>*Sujeito a análise</p>
    <p>Apenas usuários cadastrados podem acessar a área de pedido e conhecer nossos preços</p>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
               
                    <div class="p-field m-razaosocial">
                        <label for="razaosocial">Razão Social</label>
                        <input id="razaosocial" type="text" onkeyup="this.value = this.value.toUpperCase();" (focusout)="$event.target.value = $event.target.value.toUpperCase();" class="form-control" [(ngModel)]="cliente.razao_social" placeholder="Informe a Razão Social da Empresa" name="razaosocial" [class.is-invalid]="clienteModel.errors?.nomeInvalid && (clienteModel.touched || clienteModel.dirty)" #clienteModel="ngModel" pInputText  nomeValidateDirective required/>
                        <small id="razaosocial-help" class="invalid-feedback" *ngIf="(clienteModel.touched || clienteModel.dirty) && clienteModel.errors?.nomeInvalid">
                            Razão Social é de Preenchimento Obrigatório de deve conter mais de 10 caracteres.
                        </small>
                        
  
                    </div>
               
            </div>
            <div class="col-sm-4">
          
                    <div class="p-field m-cnpj">
                        <label for="cnpj">CNPJ</label>
                        <p-inputMask id="cnpj" mask="99.999.999/9999-99" [(ngModel)]="cliente.cnpj" name="cnpj" [class.is-invalid]="clienteCnpjModel.errors?.cnpjInvalid && (clienteCnpjModel.touched || clienteCnpjModel.dirty)" #clienteCnpjModel='ngModel' cnpjValidateDirective required></p-inputMask>
                        <small id="cnpj-help" class="invalid-feedback" *ngIf="(clienteCnpjModel.touched || clienteCnpjModel.dirty) && clienteCnpjModel.errors?.cnpjInvalid">CNPJ deve ser informado.</small>

                    </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
               
                    <div class="p-field m-razaosocial">
                        <label for="nomefantasia">Nome Fantasia</label>
                        <input id="nomefantasia" type="text" (focusout)="$event.target.value = $event.target.value.toUpperCase();" onkeyup="this.value = this.value.toUpperCase();" class="form-control" [(ngModel)]="cliente.nome_fantasia" placeholder="Informe o Nome Fantasia da Empresa" name="nomefantasia" [class.is-invalid]="clienteNomeFantasiaModel.errors?.nomeInvalid && (clienteNomeFantasiaModel.touched || clienteNomeFantasiaModel.dirty)" #clienteNomeFantasiaModel="ngModel" pInputText  nomeValidateDirective required/>
                        <small id="nomefantasia-help" class="invalid-feedback" *ngIf="(clienteNomeFantasiaModel.touched || clienteNomeFantasiaModel.dirty) && clienteNomeFantasiaModel.errors?.nomeInvalid">
                            Nome Fantasia é de Preenchimento Obrigatório de deve conter mais de 10 caracteres.
                        </small>
  
                    </div>
               
            </div>
            <div class="col-sm-4">
          
                    <div class="p-field m-cnpj">
                        <label for="cep">CEP</label>
                        <p-inputMask id="cep" mask="99999-999" (focusout)="retornaCep($event.target.value)" [(ngModel)]="cliente.cep" name="cep" [class.is-invalid]="clienteCepModel.errors?.cepInvalid && (clienteCepModel.touched || clienteCepModel.dirty)" #clienteCepModel='ngModel' cepValidateDirective required></p-inputMask>
                        <small id="cep-help" class="invalid-feedback" *ngIf="(clienteCepModel.touched || clienteCepModel.dirty) && clienteCepModel.errors?.cepInvalid">CEP deve ser informado.</small>

                    </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="p-field m-razaosocial">
                    <label for="endereco">Endereço</label>
                    <input id="endereco" type="text" placeholder="Informe o Endereço" (focusout)="$event.target.value = $event.target.value.toUpperCase();" onkeyup="this.value = this.value.toUpperCase();" class="form-control" [(ngModel)]="cliente.endereco" name="endereco" [class.is-invalid]="clienteEndModel.errors?.nomeInvalid && (clienteEndModel.touched || clienteEndModel.dirty)" #clienteEndModel='ngModel' pInputText nomeValidateDirective required />
                    <small id="endereco-help" class="invalid-feedback" *ngIf="(clienteEndModel.touched || clienteEndModel.dirty) && clienteEndModel.errors?.nomeInvalid">
                        Endereço é de preencimento obrigatório e deve conter mais de 10 caracteres
                    </small>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="p-field m-cnpj">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" (focusout)="$event.target.value = $event.target.value.toUpperCase();" onkeyup="this.value = this.value.toUpperCase();" [(ngModel)]="cliente.numero" name="numero" pInputText required/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="p-field m-complemento">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" (focusout)="$event.target.value = $event.target.value.toUpperCase();" onkeyup="this.value = this.value.toUpperCase();" [(ngModel)]="cliente.complemento" name="complemento" pInputText required/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="p-field m-cnpj">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" placeholder="Informe o bairro" (focusout)="$event.target.value = $event.target.value.toUpperCase();" onkeyup="this.value = this.value.toUpperCase();" [(ngModel)]="cliente.bairro" name="bairro" [class.is-invalid]="clienteBairroModel.errors?.nomeInvalid && (clienteBairroModel.touched || clienteBairroModel.dirty)" #clienteBairroModel='ngModel' pInputText  nomeValidateDirective required/>
                    <small class="invalid-feedback" id="bairro-help" *ngIf="clienteBairroModel.errors?.nomeInvalid && (clienteBairroModel.touched || clienteBairroModel.dirty)">
                        Bairro é de preenchimento obrigatório
                    </small>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="p-field m-cnpj">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" (focusout)="$event.target.value = $event.target.value.toUpperCase();" placeholder="Informe a cidade" onkeyup="this.value = this.value.toUpperCase();" [(ngModel)]="cliente.cidade" name="cidade" [class.is-invalid]="clienteCidadeModel.errors?.nomeInvalid && (clienteCidadeModel.touched || clienteCidadeModel.dirty)" #clienteCidadeModel='ngModel' pInputText  nomeValidateDirective required/>
                    <small class="invalid-feedback" id="cidade-help" *ngIf="clienteCidadeModel.errors?.nomeInvalid && (clienteCidadeModel.touched || clienteCidadeModel.dirty)">
                        Cidade é de preenchimento obrigatório
                    </small>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="p-field m-uf">
                    <label for="uf">UF</label>
                    <input type="text" class="form-control" (focusout)="$event.target.value = $event.target.value.toUpperCase();" id="uf" maxlength="2" placeholder="Informe a UF" onkeyup="this.value = this.value.toUpperCase();" [(ngModel)]="cliente.uf" name="uf" [class.is-invalid]="clienteUfModel.errors?.ufInvalid && (clienteUfModel.touched || clienteUfModel.dirty)" #clienteUfModel='ngModel' pInputText  ufValidateDirective required/>
                    <small class="invalid-feedback" id="cidade-help" *ngIf="clienteUfModel.errors?.nomeInvalid && (clienteUfModel.touched || clienteUfModel.dirty)">
                        UF é de preenchimento obrigatório
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="p-field m-email">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" (focusout)="$event.target.value = $event.target.value.toLowerCase();" name="email" placeholder="Informe o e-mail para contato" onkeyup="this.value = this.value.toLowerCase();" [(ngModel)]="cliente.email" [class.is-invalid]="clienteEmailModel.errors?.emailInvalid && (clienteEmailModel.touched || clienteEmailModel.dirty)" #clienteEmailModel='ngModel' pInputText emailValidateDirective required />
                    <small class="invalid-feedback" id="email-help" *ngIf="clienteEmailModel.errors?.emailInvalid && (clienteEmailModel.touched || clienteEmailModel.dirty)">
                        E-mail é de preenchimento obrigatório e deve ser um E-mail Válido
                    </small>
                </div>
            </div>
        </div>
        
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h2>Telefones para Contato</h2>
            </div>
            <div class="p-toolbar-group-right">
                <p-button (click)="addNewContato()" label="" icon="pi pi-plus"></p-button>
            </div>
        </p-toolbar>
        <hr />
            <div class="row">
                <div class="col-sm-24">
                    <section *ngFor="let contato of contatos">
            
                        <p-inputMask [(ngModel)]="contato.ddd" mask="99" placeholder="ddd" size="5"></p-inputMask>
                        &nbsp;
                        <p-inputMask [(ngModel)]="contato.numero" placeholder=""mask="99999-9999" placeholder="número telefone" size="30"></p-inputMask>
                        &nbsp;
                        <select class="custom-select" [(ngModel)]="contato.operadoras" style="width: 150px; margin-bottom: 5px;">
                            <option [ngValue]="null" selected>Operadoras</option>
                            <option *ngFor="let operadora of operadoras" [ngValue]="operadora.valor" >{{operadora.label}}</option> 
                        </select>
                        &nbsp;
                        <span (click)="removeContato(contato)" class="pi pi-trash m-trash"></span>
                        <hr />
                    </section>
                </div>
            </div>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton (click)="gravar()" label="Salvar" icon="pi pi-save" class="p-button-outlined"></button>
                </div>
            </p-toolbar>
    </div>
    
</div>
