<div id="prodListas" class="murau__container">
  <p-dataView #dv [value]="produtos" [paginator]="true" [rows]="12" filterBy="nome,referencia,codigo"
    [sortField]="sortField" [sortOrder]="sortOrdem" layout="grid" (onPage)="onPageChange();">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <div class="row content">
          <div class="col alinha_esquerda">
            <span class="p-input-icon-left p-mb-2 p-mb-md-0">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Buscar por Nome, Referência ou Código"
                (input)="applyFilter($event)">
            </span>
            
          </div>
          <div class="col alinha_centro">
              <button pButton pRipple class="p-button-rounded p-button-outlined" (click)="atualizaProdutos()">
                <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
                Atualizar Catálogo
            </button>
          </div>
          <div class="col alinha_direita">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-produto pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">

          <span class="product-image">
            <a routerLink="/produto/detalhes/{{produto.uid}}" fragment="topo" routerLinkActive="router-link-active">
              <img *ngIf="produto.imagens.length > 0" src="{{produto.imagens[0].caminho}}" />
              <img *ngIf="produto.imagens.length <= 0" src="./../../assets/images/img_nao_disp.jpg" />
            </a>
          </span>


          <div class="product-list-detail">

            <div class="product-name">
              {{produto.nome}}
            </div>
            <div class="product-description">
              {{produto.descricao}}
            </div>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">
              {{produto.referencia}}
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-produto pTemplate="gridItem" class="alinha_centro">
      <div class="p-col p-md">
        <div class="product-grid-item">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{produto.referencia}}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <a routerLink="/produto/detalhes/{{produto.uid}}" routerLinkActive>
              <img *ngIf="produto.imagens.length > 0" src="{{produto.imagens[0].caminho}}" />
              <img *ngIf="produto.imagens.length <= 0" src="./../../assets/images/img_nao_disp.jpg" />
            </a>
            <div class="product-name">{{produto.nome}}</div>
            <div class="product-description">{{produto.descricao}}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>