@import "../../shared/style_shared";

:host ::ng-deep .custom-galleria {
  &.p-galleria {
    &.fullscreen {
      display: flex;
      flex-direction: column;

      .p-galleria-content {
        flex-grow: 1;
        justify-content: center;
      }
    }

    .p-galleria-content {
      position: relative;
      background-color: rgba(75, 46, 40, 0.5) !important;
    }
    .p-galleria-item {
      background-color:  rgba(75, 46, 40, 0.5) !important;
    }

    .p-galleria-thumbnail-container {
      background-color:  rgba(75, 46, 40, 0.5) !important;
    }
    .p-galleria-thumbnail-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .p-galleria-thumbnail-items-container {
      width: 100%;
    }

    .custom-galleria.p-galleria.fullscreen {
      background-color: rgba(75, 46, 40, 0.5) !important;
    }
    .custom-galleria-footer {
      display: flex;
      align-items: center;
      background-color:  rgba(75, 46, 40, 0.75);
      color: burlywood;

      >button {
        background-color: transparent;
        color: burlywood;
        border: 0 none;
        border-radius: 0;
        margin: .2rem 0;

        &.fullscreen-button {
          margin-left: auto;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .title-container {
       > span {
        font-size: .9rem;
        padding-left: .829rem;

        &.title {
          font-weight: bold;
        }
      }
    }
  }
}
.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  
}
.container {
  max-width: 100% !important;
}

.square_tamanho {
  width: 5%;
  height: 0;  
  padding: 5%;
  margin: 1%;
  float: left;
  position: relative;
  font-size: 1.2rem;
  vertical-align: middle;
  display: table;
  background-color: burlywood;
 
}
