<div class="container fileUploadWrapper">
    <form [formGroup]="form">
        <div class="row">
            <!-- Progress Bar -->
            <div class="col-md-12" *ngIf="progress">
                <div class="progress form-group">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width.%]="progress">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="fileupload" appInputFilePhotos (click)="fileField.click()"
                    (fileDropped)="upload($event)">
                    <div class="col-md" *ngFor="let foto of fotos">
                        <div *ngIf="foto.caminho" class="preview" [ngStyle]="{'background-image': 'url(' + foto.caminho + ')'}">
                        </div>
                    </div>
                    <div class="col-md" *ngFor="let foto of imagens">
                        <div *ngIf="foto.url" class="preview" [ngStyle]="{'background-image': 'url(' + foto.url + ')'}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div  class="preview-no-img"><span class="ddinfo">Arraste uma foto</span></div>
                    </div>
                    
                    <input type="file" name="avatars" #fileField (click)="upload($event)" (change)="upload($event)" hidden multiple>
                </div>
            </div>
            <div class="col-md-12">
                <div class="image-list" *ngFor="let file of fileArr; let i = index">
                    <div class="profile">
                        <img [src]="sanitize(file['url'])" alt="">
                    </div>
                    <p>{{file.item.name}}</p>
                </div>
                <p class="message">{{msg}}</p>
            </div>
        </div>
    </form>
</div>