<div class="murau__clientes_pendentes">
    <h1>Clientes Novos</h1>
    <p>Clientes aguardando aprovação do cadastro.</p>
    <p-table #dt1 [value]="cli" dataKey="uid" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true" currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
       [globalFilterFields]="['razao_social','vendedor.nome','cnpj','statusCliente']" [responsive]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Pesquisar" />
              </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Razão Social
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Cidade
                        <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Vendedor
                        <p-columnFilter field="vendedor.nome" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold">Vendedores</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="vendedores" placeholder="Qualquer" (onChange)="filter($event.value)" optionLabel="name">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.name}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Data Inclusão
                        <p-columnFilter type="date" field="data_inclusao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Status
                        <p-columnFilter field="status.key" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)" placeholder="Qualquer">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>               
                <th style="width: 8rem">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Verificado
                        <p-columnFilter type="boolean" field="ativo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width: 8rem">
                    <div class="p-d-flex p-jc-between p-ai-center">                        
                        <p-columnFilter type="boolean" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cli>
            <tr>
                <td>
                    {{cli.razao_social}}
                </td>
                <td>
                    {{cli.cidade}}
                </td>
                <td>
                    <span class="image-text">{{cli.vendedor.nome}}</span>
                </td>
                <td>
                    {{cli.data_inclusao | date: 'dd/MM/yyyy'}}
                </td>               
                <td>
                    <span [class]="'customer-badge status-' + cli.statusCliente.toString()">{{ cli.descStatus }}</span>
                </td>                
                <td class="p-text-center">
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle': cli.ativo, 'false-icon pi-times-circle': !cli.ativo}"></i>
                </td>
                <td class="p-text-center">
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle': cli.ativo, 'false-icon pi-times-circle': !cli.ativo}"></i>
                </td>
                <td class="p-text-center">
                    <a routerLink="/cliente/{{cli.uid}}" style="color: #4b2e28">
                        <fa-icon [icon]="['fas','edit']" ></fa-icon>
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Nenhuma Informação encontrada.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
