.p-field * {
    display: block;
    width: 100%; 
}
.m-razaosocial {
    width: 100%;
}
.m-cnpj {
    width: 100%;
}
.m-numero {
    width: 55%;
}

.m-complemento {
    width: 55%;
}

.m-uf {
    width: 60%;
}

.m-email {
    width: 85%;
}
.m-trash {
    cursor: pointer;
}