@import "../../shared/style_shared";

.murau__panel_admin {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 10px;
}
:host::ng-deep .p-fieldset-legend  {
    width: inherit
}
.icone {
    font-size: 2.5rem !important;
    a {
        text-decoration: none;
        color: black;
    }
    margin-block: 45px;
}
.legenda {
    font-size: .7rem !important;
    display: block !important;
}
.titulo {
    font-size: .85rem;
    color: #4b2e28;
    position: absolute;
    margin: 10px;
    font-weight: bold;
}
.bottom-border {
    border-bottom: 1px solid #4b2e28;
}