
<div class="murau__container">
    <h1>Pedidos</h1>
    <h5>Manutenção de Pedidos</h5>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
           
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton
                    *ngIf="alterar"
                    pRipple 
                    icon="pi pi-save"
                    class="p-button-success p-mr-2"
                    (click)="salvarAlteracoes()"></button> 

            <button pButton
                    pRipple
                    icon="pi pi-sign-out"
                    class="p-button-outlined p-button-primary"
                    routerLink="/cliente/{{cliente.uid}}"></button>
        </ng-template>
        
    </p-toolbar>
    <ngx-spinner bdColor="rgba(rgba(75,46,40,0.7)"
                color="#ffff"
                size="medium"
                type="ball-spin-fade-rotating"
                [fullScreen]="true">
        <p style="font-size: 20px; color: white">carregando...</p>
    </ngx-spinner>
    <mat-tab-group mat-align-tabs="starts">
        <mat-tab label="Cabeçalho">
            <div class="row murau__container">
                <div class="col-sm-2">
                    <mat-form-field  class="m-cnpj">
                        <mat-label>Núm. Pedidos</mat-label>
                        <input type="text" 
                               id="num_pedido"
                               name="num_pedido"
                               matInput disabled [(ngModel)]="pedido.num_pedido" />    
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                   <mat-form-field class="m-razaosocial">
                    <mat-label>Cliente</mat-label>
                    <input type="text" 
                           id="cliente"
                           name="cliente"
                           matInput disabled [(ngModel)]="cliente.razao_social" />
                   </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field  class="m-razaosocial">
                        <mat-label>Vendedor</mat-label>
                        <input type="text"
                               id="vendedor"
                               name="vendedor"
                               matInput disabled [(ngModel)]="vendedor.nome" />
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="pedido.status_pedido" name="statu_pedido" id="status_pedido" [disabled]="pedido.status_pedido === 5 && !isRoot">
                            <mat-option *ngFor="let status_pedido of status" [value]="status_pedido.valor">{{status_pedido.label}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row murau__container">
                <div class="col-sm-4">
                    <mat-form-field  class=" m-razaosocial">
                        <mat-label>Empresa Principal</mat-label>
                        <input type="text"
                               id="empresa"
                               name="empresa"
                               matInput disabled [(ngModel)]="empresa.nome_fantasia" />
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field class="m-cnpj" appearance="fill">
                        <mat-label>Data Pedido</mat-label>
                        <input matInput
                               [matDatepicker]="dataInclusao" 
                               [(ngModel)]="pedido.data_inclusao"
                               disabled />
                        <mat-datepicker-toggle matSuffix [for]="dataInclusao"></mat-datepicker-toggle>
                        <mat-datepicker #dataInclusao></mat-datepicker>
                               
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field class="m-cnpj" appearance="fill">
                        <mat-label>Última Alteração</mat-label>
                        <input matInput
                               [matDatepicker]="dataAlteracao" 
                               [(ngModel)]="pedido.data_alteracao"
                               disabled />
                        <mat-datepicker-toggle matSuffix [for]="dataAlteracao"></mat-datepicker-toggle>
                        <mat-datepicker #dataAlteracao></mat-datepicker>
                               
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field class="m-cnpj" appearance="fill">
                        <mat-label>Valor Total</mat-label>
                        <input matInput currencyMask
                               class="valor_total"
                               id="valor_total"
                               name="valor_total"
                               [(ngModel)]="pedido.valor_pedido"
                               readonly />
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Itens">
            <div class="murau__container">
                <p-toolbar styleClass="p-mb-4" *ngIf="pedido.status_pedido === 1">
                    <ng-template pTemplate="left">
                        <button pButton 
                                pRipple 
                                label="add Item" 
                                icon="pi pi-plus"
                                class="p-button-primary p-mr-2"
                                (click)="addItem()"></button>

                        <button pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-danger p-mr-2"
                                (click)="excluirItensSel()"
                                [disabled]="!selItens || !selItens.length"></button>

                        <button pButton
                                pRipple
                                [pTooltip]="toolTipBtnExcluidos"
                                [icon]="iconBtnEye"
                                class="p-button-help"
                                (click)="mostraItensExcluidos()"></button>

                    </ng-template>
                    
                </p-toolbar>
                <p-table #dt [value]="itensPedido"
                             [rows]="10"
                             [paginator]="true"
                             [globalFilterFields]="['produto.nome', 'produto.codigo', 'produto.referencia']"
                             [(selection)]="selItens"
                             [rowHover]="true"
                             dataKey="uid"
                             currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} itens"
                             [showCurrentPageReport]="true" styleClass="p-datatable-responsive" [responsive]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h2 class="p-m-0">Itens do Pedido</h2>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar..." />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem" *ngIf="pedido.status_pedido === 1">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="produto.codigo">Código <p-sortIcon field="produto.codigo"></p-sortIcon></th>
                            <th pSortableColumn="produto.referencia">Referência <p-sortIcon field="produto.referencia"></p-sortIcon></th>
                            <th pSortableColumn="produto.nome">Descrição <p-sortIcon field="produto.nome"></p-sortIcon></th>
                            <th pSortableColumn="valor_unitario">Vlr Unitário <p-sortIcon field="valor_unitario"></p-sortIcon></th>
                            <th pSortableColumn="qtd_produto">Quantidade <p-sortIcon field="qtd_produto"></p-sortIcon></th>
                            <th pSortableColumn="valor_total">Vlr. Total <p-sortIcon field="valor_total"></p-sortIcon></th>
                            <th *ngIf="pedido.status_pedido === 1"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td *ngIf="pedido.status_pedido === 1">
                                <p-tableCheckbox [value]="item" [disabled]="item.excluido"></p-tableCheckbox>
                            </td>
                            <td style="text-align: right" [ngClass]="{'itemExcluido': item.excluido}">{{item.produto.codigo}}</td>
                            <td [ngClass]="{'itemExcluido': item.excluido}">{{item.produto.referencia}}</td>
                            <td [ngClass]="{'itemExcluido': item.excluido}">{{item.produto.nome}}</td>
                            <td style="text-align: right" [ngClass]="{'itemExcluido': item.excluido}">{{item.valor_unitario | number: '0.2-2':'pt' }}</td>
                            <td style="text-align: right" [ngClass]="{'itemExcluido': item.excluido}">{{item.qtd_produto}}</td>
                            <td style="text-align: right" [ngClass]="{'itemExcluido': item.excluido}">{{item.valor_total | number:'0.2-2':'pt'}}</td>
                            <td *ngIf="pedido.status_pedido === 1 && !item.excluido">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary p-mr-2" (click)="editarItem(item)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="excluirItem(item)"></button>
                            </td>
                            <td *ngIf="pedido.status_pedido === 1 && item.excluido">
                                <button pButton pRipple pTooltip="Retaurar Item" icon="pi pi-undo" class="p-button-rounded p-button-help p-mr-2" (click)="restauraItem(item)"></button>                                
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            Total de Itens a serem entregues neste pedido é de: {{totalItem}} unidades
                        </div>
                    </ng-template>
                </p-table>
                
            </div>
        </mat-tab>
        <mat-tab label="Histórico">
            <table class="table table-striped table-responsive-sm">
                <thead>
                    <tr>
                        <th>Localidade</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rast of rastreios">
                        <td>{{rast.cidade}}</td>
                        <td>{{rast.data | date: 'dd/MM/yyyy'}}</td>
                        <td>{{rast.hora}}</td>
                        <td>{{rast.situacao}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
    <p-dialog [(visible)]="itemDialog"
              [style]="{width: '600px'}"
              header="Item Pedido"
              [modal]="true"
              (onHide)="hideDialog()"
              styleClass="p-fluit">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="codProd">Código Produto</label>
                <input type="text"
                       pInputText
                       #codProd
                       id="codProd"
                       [(ngModel)]="produto.codigo"
                       (focusout)="buscaProduto()"
                    autofocus [disabled]="itemPedido.uid !== undefined" />
                    <h3 *ngIf="produto.codigo || message">{{ produto.nome ? produto.nome : message }}</h3>
            </div>
            <div class="row murau__container">
               
                <h4 style="height: 3px">Empresa Padrão: {{cliente.empresa?.nome_fantasia}}</h4>
                <div class="row murau__container" *ngIf="produto.nome">
                    <div class="col-sm">
                        <h5 [ngClass]="{'estoqueNegativo': (empresaPadrao.estoque ? empresaPadrao.estoque : -1) <= 0,
                                'estoquePositivo': (empresaPadrao.estoque ? empresaPadrao.estoque : -1) > 0}">Estoque: {{empresaPadrao.estoque}}</h5>
                    </div>
                    <div class="col-sm">
                        <h5>Valor Unitário: {{empresaPadrao.valor | currency: 'BRL'}}</h5>
                    </div>
                </div>
                <div class="row murau__container" *ngIf="vendedores && produto.nome">
                    <div class="col-sm" style="font-size: 12px !important">
                        <p-checkbox [(ngModel)]="mostraEstoqueEmpresas"
                                    inputId="mostraEstoqueEmp"
                                    [binary]="true"></p-checkbox>
                        <label for="mostraEstoqueEmp" style="height: 2px !important"> &nbsp; Mostrar Estoque de Outras Empresas</label>

                    </div>
                </div>
                <div class="row murau__container">
                    <div class="col-sm-8" *ngIf="vendedores && produto.nome && mostraEstoqueEmpresas" style="font-size: 15px !important">
                
                            <h5>Selecionando uma ou mais empresas você poderá compor estoque ou efetuar rateio</h5>
                            <div *ngFor="let empPro of empresasVendedor" class="p-field-checkbox">
                                <div class="row murau__container">
                                    <div class="row murau__container">
                                        <p-checkbox name="grupoEmpresa" 
                                                    value="empPro" 
                                                    [value]="empPro" 
                                                    [inputId]="empPro.uid ? empPro.uid : '0'"
                                                    [(ngModel)]="selEmpresasEstoque"></p-checkbox>
                                        <label [for]="empPro.uid">
                                            &nbsp;{{empPro.empresa?.nome_fantasia}}
                                        </label>
                                    </div>
                                    <div class="row murau__container">
                                        <div class="col-sm">
                                            <h5 [ngClass]="{'estoqueNegativo': (empPro.estoque ? empPro.estoque : -1) <= 0,
                                                    'estoquePositivo': (empPro.estoque ? empPro.estoque : -1) > 0}">Estoque: {{empPro.estoque}}</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h5>Valor Unitário: {{empPro.valor | currency: 'BRL'}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                    </div>
                    <div class="col-sm-4" class="fotoProduto" *ngIf="produto.nome">
                        <p-card>
                            
                                <img *ngIf="(produto.imagens ? produto.imagens.length : 0) > 0" src="{{produto.imagens ? produto.imagens[0].caminho : './../../assets/images/img_nao_disp.jpg' }}"/>
                                <img *ngIf="(produto.imagens ? produto.imagens.length : 0) <= 0" src="./../../assets/images/img_nao_disp.jpg" width="100%" />
                        
                        </p-card>
                    </div>
                    <div class="col-sm">
                        <div class="p-field">
                            <label for="qtdProd">Qtd Produto</label>
                            <input type="number"
                                name="qtdProd"
                                id="qtdProd"
                                #qtdProd
                                [(ngModel)]="itemPedido.qtd_produto"
                                Class="qtdProduto"
                                (click)="valorTotalItem()"
                                (focusout)="valorTotalItem(); qtdProdExit()"
                                pInputText
                                [disabled]="produto.codigo ? false : true" />
                        </div>
                    </div>
                    <div class="col-sm">
                        <h1 style="height: 20px"><strong>Total</strong></h1>
                        <h2><strong>{{ itemPedido.valor_total | currency: 'BRL' }}</strong></h2>
                    </div>
                </div>
                <div class="row murau__container">
                    <div class="col-sm">
                        <p-toolbar>
                            <div class="p-toolbar-group-left"></div>
                            <div class="p-toolbar-group-right">
                                <button icon="pi pi-sign-out"
                                        pButton
                                        type="button"
                                          class="p-button-outlined p-button-danger p-mr-2"
                                          id="btnCancelar"
                                          (click)="hideDialog()"
                                          pTooltip="Sair sem salvar"></button>
                                <button icon="pi pi-plus"
                                        pButton
                                          type="button"
                                          class="p-button-outlined p-button-primary p-mr-2"
                                          id="btnAddNovo"
                                          #btnAddNovo
                                          (click)="saveItem(); btnAddNovoClick()"
                                          pTooltip="Salva a alteração e habilita para novas adições"
                                          [disabled]="produto.codigo && !itemPedido.uid ? false : true"></button>
                                <button icon="pi pi-save"
                                        pButton
                                        type="button"
                                          class="p-button-outlined p-button-success"
                                          id="btnSalvar"
                                          #btnSalvar
                                          (click)="saveItem(); hideDialog()"
                                          pTooltip="Salva as alterações e fecha a janela"
                                          [disabled]="produto.codigo ? false : true"></button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>

