<div class="murau__perfil">
    <h1>Cadastro e Alteração de Perfil</h1>
    <h5>cadastre ou altere seus dados</h5>
    <hr />
    <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" [(ngModel)]="value1" pInputText placeholder="Username" class="ng-invalid ng-dirty" formControlName="valuenomeUsuario" required>
            </div>
        </div>
    </div>
</div>

